body {
  background-color: gray;
}

header {
  background-color: cyan;
}

section {
  background-color: magenta;
}

aside {
  background-color: yellow;
}

footer {
  background-color: purple;
  text-align: center;
}

p, h1, h2 {
  padding: 1%;
}
